.heading {
	text-align: center;
	font-size: 32px;
	font-family: geometos;
	color: orange;
}

.eachstd{
	height:460px;
	width:300px;
	background-color: rgba(24,40,65,0.7);
	font-family: geometos;
	font-size: 14px;
	position: relative;
	left:60px;
	top: 100px;
	margin-left: 80px;
	display: inline-block;
	box-shadow: 2px 2px 2px gray;
	color: orange;
}

.h {
	color: white;
	margin-left: 100px;
	margin-bottom: 5px;
}

.image-div img{
	margin-left: 80px;
	margin-top: -40px;
	height:140px;
	width:140px;
}